.copyText::before {
  content: "copy";
  font-size: rem(14px);
  opacity: 0.6;
}
  
.copyText:active::before {
  font-size: rem(14px);
  content: "copied!";
}

.message {
  & pre {
    max-width: 100%;
    overflow-x: "scroll";
  }
  & code {
    max-width: 100%;
    overflow-x: "scroll";
  }
}