uvicorn~=0.24.0.post1
fastapi~=0.105.0
starlette~=0.27.0
autogan~=0.1
requests~=2.31.0
openai~=1.3.6
tiktoken~=0.5.1
pandas~=2.1.2
pypdf2~=3.0.1
docx~=0.2.4
beautifulsoup4~=4.12.2
wolframalpha~=5.0.0
termcolor~=2.3.0
setuptools~=68.2.0
redis~=5.0.7
aliyunsdkcore~=1.0.3
oss2~=2.18.6
pydub~=0.25.1
python-consul
grpcio
grpcio-tools
transformers~=4.42.3
torch~=2.2.2
nltk~=3.8.1
elasticsearch~=8.14.0
DBUtils==1.3
mysql-connector-python~=8.0.27
alibabacloud_sts20150401==1.1.4
flask~=3.0.3
python-docx
chains
paddlepaddle