.scrollArea {
    height: 100%;
    padding-bottom: rem(20);
    @media (max-width: $mantine-breakpoint-sm) {
        height: calc(50vh);
      }
}

.blockquote {
    margin-right: rem(440);
    @media (max-width: $mantine-breakpoint-sm) {
        margin-right: 0;
      }
}