.roleDisplayAvatarOn {
    height: 200%;
    width: calc(200vw - rem(440px));
    /* top: calc(-75vh); */
    /* width: 100%; */
    flex-shrink: 0;
    @media (max-width: $mantine-breakpoint-sm) {
        width: calc(100vw);
      }
}

.roleDisplayAvatarOff {
    display: none;
}